/*
!Mathematica
/Mathematica/controloPenduloEsferico.nb
/Mathematica/Pendulosemcontrolo_comSVerrado.nb
/Mathematica/Controlo1d.nb
/Mathematica/Pendulosemcontrolo.nb
/Mathematica/Pendulosemcontrolo_Correcção.nb
!Artigo
!.gitignore